body {
	margin: 0;
}

.container {
	padding: 20px 15px 20px 15px;
}

#img-container {
	background-image: url(/img/laptop.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	z-index: -999;
	padding-bottom: 20px;
}

#logo{
	font-family: 'Yellowtail', sans-serif;
	font-size: 5em;
	color: #fff;
}

form {
	width: 80%;
	margin: 20px auto;
	overflow: auto;
}

.input-lg {
	height: 45px;
	border-radius: 6px 0 0 6px;
}

#shorten-button {
	margin-left: -32;
	border-radius: 0 6px 6px 0;
}

.error {
	color: red;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 20 auto;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
}

td:nth-child(2) {
	width: 50%;
}

th:last-child, td:last-child {
	text-align: center;
}

tr:hover {
	background-color: #d5d5d5;
}

.copyLeft {
	float: left;
	display: inline;
	padding: 5px;
}

.copyRight {
	float: right;
	display: inline;
	margin-right: 5px;
}
